*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    padding: 2rem;
    background: #222831;
    font-family: sans-serif;
    
}
.vakkenDashboard {
        width: 50%;
        height: 60vh;
        margin: 0 auto;
        box-shadow: 0 0.2rem 2rem black;
        position: relative;
        background: white;
        padding: 1rem;
}


.vak__progressbar_fill{
    color:#fff!important;
    background-color:#4CAF50!important
}
.vak__progressbar{color:#000!important;
    background-color:#f1f1f1!important
}


/* utillity classes */
.u-list-style-none {
    list-style: none;
}
.u-grid-12 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
}











/* animation */
.a-popup{
    animation-name: popup;
    animation-duration: 0.8s;
    
}

@keyframes popup{
    0%{
        transform: scale(1);
        opacity: 0;
    }
    70%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}