*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    height: 100vh;
    background-color:black;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-direction: column;
    gap: 2rem;
}


.main__titleWrapper{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 6rem;
    background-color: #7F22EA;
}

.main__title{
    color: #eeeeee;
    text-align: center; 
    font-size: 200%;  
}

.main__card{
    width: 85%;
    height: 76%;
    background-color: #0E0E0E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-direction: column;
}

@media(min-width: 56.25rem){
  .main__card{
    width: 55%;
  }
}

@media(min-width: 93.75rem){
  .main__card{
    width: 45%;
  }
}



.main__tekst{
    width: 100%;
    font-size: 250%;
    text-align: center;
}

.main__tekst--aanwezig{
    text-transform: uppercase;
    font-size: 350%;
}

@media(min-width:32.25rem){
  .main__input{
    font-size: 180%;
  }
  .main__button{
    font-size:180%;
  }
  body{
    height: 105vh;
  }
}

@media(min-width:37.5rem){
  .main__tijd{
    font-size: 500%;
  }
}

.main__buttonContainer{
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

.main__button--noodgeval {
  top: 0;
  left: 0;
  transition: all 0.15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 2rem 5rem;
  background-color: rgba(165, 62, 51, 1);
  text-transform: uppercase;
  color: #eeeeee;
  font-family: arial;
  letter-spacing: 1px;
  box-shadow: -6px 6px 0 rgba(165, 62, 51, 0.3);
  text-decoration: none;
  border-radius: 4rem;
  font-size: 150%;
  margin-top: 2rem;
}

.main__button--noodgeval:hover {
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 #A53E33;
}
.main__button--noodgeval:hover::after {
  top: 1px;
  left: -2px;
  width: 4px;
  height: 4px;
}
.main__button--noodgeval:hover::before {
  bottom: -2px;
  right: 1px;
  width: 4px;
  height: 4px;
}
.main__button--noodgeval::after {
  transition: all 0.15s linear 0s;
  content: "";
  position: absolute;
  top: 2px;
  left: -4px;
  width: 8px;
  height: 8px;
  background-color: #404040;
  transform: rotate(45deg);
  z-index: -1;
}
.main__button--noodgeval::before {
  transition: all 0.15s linear 0s;
  content: "";
  position: absolute;
  bottom: -4px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: #404040;
  transform: rotate(45deg);
  z-index: -1;
}

a.main__button--noodgeval {
  position: relative;
}

a:active.main__button--noodgeval {
  top: 6px;
  left: -6px;
  box-shadow: none;
}
a:active.main__button--noodgeval:before {
  bottom: 1px;
  right: 1px;
}
a:active.main__button--noodgeval:after {
  top: 1px;
  left: 1px;
}


/* noodgeval pagina */
.mainNoodgeval{
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  box-sizing: border-box;
  gap: 2rem;
}

.mainNoodgeval__card{
  width: 85%;
  height: 80%;
  background-color: #0E0E0E;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  gap: 1rem;
}

@media(min-width:62.5rem){
  .mainNoodgeval__card{
    width:75%;
  }
}

.mainNoodgeval__tekst{
  font-size:150%;
}

.mainNoodgeval__tekst--noodgeval{
  text-transform: uppercase;
  font-size:300%;
}

.mainNoodgeval__buttonContainer{
  width: 100%;
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  gap: 2rem;
}

.mainNoodgeval__button{
  text-decoration: none;
  border:none;
  padding: 2rem;
  font-size: 160%;
  background-color:#7F22EA;
  color: white;
}

.mainNoodgeval__button:hover{
  cursor:pointer;
  background-color: #ac70f1;
}

.mainNoodgeval__button--terug{
  background-color: transparent;
  border: 0.3rem solid #7F22EA;
  transition: 1s all;
  border-radius: 4rem;
  font-size:90%;
}

@media(min-width:37.5rem){
  .mainNoodgeval__tekst{
      font-size:250%;
  }
  .mainNoodgeval__tekst--noodgeval{
    font-size: 500%;
  }
  
  .mainNoodgeval__button{
    font-size:200%;
  }
  .mainNoodgeval__button--terug{
    font-size:100%;
  }  
}

@media(min-width:62.5rem){  
  .mainNoodgeval__button{
    font-size:250%;
  }
  .mainNoodgeval__button--terug{
    font-size:120%;
  }
  
}