*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    height: 100vh;
    background-color:black;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-direction: column;
    gap: 2rem;
}


.main__titleWrapper{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 6rem;
    background-color: #7F22EA;
}

.main__title{
    color: #eeeeee;
    text-align: center; 
    font-size: 200%;  
}

.main__card{
    width: 85%;
    height: 75%;
    background-color: #0E0E0E;
    color: white;
    display: grid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-direction: column;
}

.main__tijd{
    font-size: 380%;
    margin: 5rem auto 5rem auto;
}

.main__tekst{
    width: 100%;
    font-size: 250%;
    text-align: center;
}

.main__tekst--aanwezig{
    text-transform: uppercase;
    font-size: 300%;
}

.main__buttonContainer{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

.main__button {
    top: 0;
    left: 0;
    transition: all 0.15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    background-color: rgba(165, 62, 51, 1);
    text-transform: uppercase;
    color: #eeeeee;
    font-family: arial;
    letter-spacing: 1px;
    box-shadow: -6px 6px 0 rgba(165, 62, 51, 0.3);
    text-decoration: none;
    border-radius: 4rem;
  }
  .main__button:hover {
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 #A53E33;
  }
  .main__button:hover::after {
    top: 1px;
    left: -2px;
    width: 4px;
    height: 4px;
  }
  .main__button:hover::before {
    bottom: -2px;
    right: 1px;
    width: 4px;
    height: 4px;
  }
  .main__button::after {
    transition: all 0.15s linear 0s;
    content: "";
    position: absolute;
    top: 2px;
    left: -4px;
    width: 8px;
    height: 8px;
    background-color: #404040;
    transform: rotate(45deg);
    z-index: -1;
  }
  .main__button::before {
    transition: all 0.15s linear 0s;
    content: "";
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: #404040;
    transform: rotate(45deg);
    z-index: -1;
  }
  
  a.main__button {
    position: relative;
  }
  
  a:active.main__button {
    top: 6px;
    left: -6px;
    box-shadow: none;
  }
  a:active.main__button:before {
    bottom: 1px;
    right: 1px;
  }
  a:active.main__button:after {
    top: 1px;
    left: 1px;
  }