/* -------------------------------------------------------------------------------------- */
/* Modal */
.main__modal {
  display: flex; 
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal__content {
  background-color: #0E0E0E;
  border: 1px solid #888;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.modal__titel{
  font-size: 250%;
  text-align: center;
  margin-top: 4rem;
  color: white;
}

.modal__tekstContainer{
  color: white;
  width: 100%;
  margin: 1rem;
  font-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
}

.modal__tekst{
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}

.modal__inputContainer{
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  margin-top: 2rem;
}

.inputContainer__tekst{
  margin: auto auto 0 auto;
  font-size: 160%;
}

.inputContainer__input{
  margin: 3rem auto 2rem auto;
  font-size:140%;
  padding-left: 0.5rem;
  width: 10rem;
}

.modal__buttonContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.modal__button{
  font-size:180%;
  padding: 1rem 4rem;
  margin-bottom: 4rem;
  border: none;
  background-color: #1E6F5C;
  color: white;
  text-decoration: none;
}

.modal__button:hover{
  cursor:pointer;
  background-color: #34bf9e;
}

@media(min-width: 50rem){
  .modal__titel{
    font-size: 300%;
  }
  .modal__tekstContainer{
    font-size: 150%;
  }
  .modal__button{
    font-size: 200%;
  }
}


/* --------------------------------------------------- */
/* homepagina */
/* .main--telefoon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-direction: column;
} */

.main__titleWrapper{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 6rem;
    font-size: 120%;
}

.main__title{
  color: #eeeeee;
  text-align: center; 
  font-size: 200%;  
}

.main__cardWrapper{
  background-color: black;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.main__card{
  width: 85%;
  height: 65rem;
  background-color: #0E0E0E; /*Moet veranderd worden naar #0E0E0E */
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-direction: column;
  padding: 2rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
  border-radius:2.5rem;
}

.main__button{
  font-size:130%;
  padding: 1rem 4rem;
  margin-bottom: 4rem;
  border: none;
  background-color: #7F22EA;
  color: white;
  text-decoration: none;
}

.main__button:hover{
  cursor:pointer;
  background-color: #ac70f1;
}

.main__tijd{
  font-size: 300%;
  margin: 1rem auto 2rem auto;
  display: none;
}

#js--startButton{
  display: none;
}

.main__tekst{
  width: 100%;
  font-size: 200%;
  text-align: center;
}

.main__ondertekst{
  text-align: center;
  margin-top:2rem;
  font-size:110%;
}


.main__tekst--aanwezig{
  text-transform: uppercase;
  font-size: 350%;
}

.main__buttonContainer{
  margin-top: 1rem;
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}

.main__button--noodgeval {
  top: 0;
  left: 0;
  transition: all 0.15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 2rem 5rem;
  background-color: rgba(165, 62, 51, 1);
  text-transform: uppercase;
  color: #eeeeee;
  font-family: arial;
  letter-spacing: 1px;
  box-shadow: -6px 6px 0 rgba(165, 62, 51, 0.3);
  text-decoration: none;
  border-radius: 4rem;
  font-size: 150%;
  margin-top: 4rem;
}

.main__button--noodgeval:hover {
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 #A53E33;
}
.main__button--noodgeval:hover::after {
  top: 1px;
  left: -2px;
  width: 4px;
  height: 4px;
}
.main__button--noodgeval:hover::before {
  bottom: -2px;
  right: 1px;
  width: 4px;
  height: 4px;
}
.main__button--noodgeval::after {
  transition: all 0.15s linear 0s;
  content: "";
  position: absolute;
  top: 2px;
  left: -4px;
  width: 8px;
  height: 8px;
  background-color: #404040;
  transform: rotate(45deg);
  z-index: -1;
}
.main__button--noodgeval::before {
  transition: all 0.15s linear 0s;
  content: "";
  position: absolute;
  bottom: -4px;
  right: 2px;
  width: 8px;
  height: 8px;
  background-color: #404040;
  transform: rotate(45deg);
  z-index: -1;
}

a.main__button--noodgeval {
  position: relative;
}

a:active.main__button--noodgeval {
  top: 6px;
  left: -6px;
  box-shadow: none;
}
a:active.main__button--noodgeval:before {
  bottom: 1px;
  right: 1px;
}
a:active.main__button--noodgeval:after {
  top: 1px;
  left: 1px;
}

@media(min-width: 37.5rem){
  .main__card{
    width: 65%;
  }  
}

@media(min-width: 50rem){
  .main__title{
    font-size: 280%;
  }
  .main__card{
    height: 65rem;
  }
  .main__tekst{
    font-size: 250%;
  } 
  .main__tijd{
    font-size:350%;
  } 
  .main__button{
    font-size: 150%;
  }
}

@media(min-width: 62.5rem){
  .main__card{
    width: 50%;
    height: 75rem;
  }  
  .main__tekst{
    font-size: 300%;
  } 
  .main__tijd{
    font-size:400%;
  } 
  .main__button{
    font-size: 180%;
  }
  .main__ondertekst{
    font-size:130%;
  }
}


/* ------------------------------------------------------------------------------- */
/* noodgeval pagina */
.main__card--stop{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 8rem;
}

.main__tekst--stop{
  text-transform: uppercase;
}

.main__buttonContainer--stop{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

.main__button--terug{
  margin-bottom: 1rem;

}

.main__a{
  color: #eeeeee;
  margin-bottom: 3rem;
}

.main__button--terug:hover{
  cursor:pointer;
  background-color: #ac70f1;
}


